*{
    margin: 0px;
    padding: 0px;
}
.main{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 500px;
    border: solid 1px #000;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 3s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -100px;
    }

    to {
        right: 100%;
    }
}